node_modules/
build/
out/
*.png
preview.log
public/video.mp4
public/video_1080p.mp4
public/video_fast.mp4
public/Ai_relevent_video_polished.mp4
public/coddy_tech_website_polished.mp4
public/sejda_pdf_website_polished.mp4
.env
